<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Inventory App</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">INVENTORY</h1>
        <a href="/product/new" class="btn btn-success">New Products</a>

        <% products.forEach(product =>  { %> 
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= product.title %></h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= product.createdAt.toLocaleDateString() %>  
                    </div>
                    <div class="card-text mb-2"><%= product.description %></div>
                    <a href="product/<%= product.id %>" class="btn btn-primary">View</a>
                    <a href="/product/edit/<%= product.id %>" class="btn btn-info">Edit</a>
                    <form action="/product/<%= product.id %>?_method=DELETE" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %>
        </div>
</body>
</html>